<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>951278545502-es15tmtt8egqv57qft6akkph8p1jq7g4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP-p4uYzdy4mfCq0Wraq5MI93M2YSXYGM</string>
	<key>GCM_SENDER_ID</key>
	<string>951278545502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jawir.animo</string>
	<key>PROJECT_ID</key>
	<string>animo-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>animo-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951278545502:ios:620325b0f89a2664caa2cf</string>
</dict>
</plist>